@import url('https://fonts.googleapis.com/css2?family=Basley:ital,wght@0,400;1,400;1,500&display=swap');

:root{
  --main:#0000ff;
}
*{
  font-family: "Basley",serif;
  transition: 0.2s;
}
*::selection{
  background: var(--main);
  color:#fff;
}